img{
    border-radius: 50%;
    overflow: hidden;
    width: 130px;
    height: 130px;
}

body{
    margin: 15px;
    padding: 15px;
}

.principal{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "header section section";                                      
}

header{
    grid-area: header;
    background: rgb(255, 255, 255);
}

section{
    grid-area: section;
    padding: 5px;
    margin: 0%;

}
